<header>

    <div id="header__title" class="box">
        <h1>NG PWA DEMO</h1>
    </div>

    <div id="header__buttons" class="box">
        <a [routerLink]="['/list/1']">
            <button class="box header__button">List 1</button>
        </a>
        <a [routerLink]="['/list/2']">
            <button class="box header__button">List 2</button>
        </a>
        <a [routerLink]="['/list/3']">
            <button class="box header__button">List 3</button>
        </a>
    </div>

</header>

<router-outlet></router-outlet>
